* {
    margin: 0;
    padding: 0;
}

body {
      font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    padding: 20px 50px;
}

.logo a, .menu {
    display: flex;
    gap: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}